body { background: url('../images/bg.png')
}

#home {
    background-color: lightgray;
    }
    
    #infoLinks {
       padding-right: 8px;
        border-right: rgb(12, 102, 133) 1px solid ;
    }
    
    #survey {
        background: lightgrey;
    }
    .container-fluid {
        width: 100%;
        max-width: 900px;
        margin: 2% auto;
        border: 1px solid darkgrey;
        background: white;
        border-radius: 5px;
        padding: 2%;
        box-shadow: 0 0 15px purple;
    }
  
    .dropdown-menu a {
        display: block;
    }
    .dropdown-item {
        display: block !important;
    }
    /* .force {
        display: block;
    } */
    .smallerBox {
        max-width: 900px;
        width: 100%;
        margin-top: 3%;
    }
    .formSelects {
        margin-bottom: 2%;
    }
    h3 {
        font-size: 1.92rem !important;
        line-height: normal !important;
         border-bottom: 1px solid;
        padding-bottom: 10px;
    }
    footer.page-footer {

        padding-top: 20px;
        background-color: purple !important;
    
    }